@font-face {
  font-family: 'AdventPro-Light';
  src: url('AdventPro-Light.eot?#iefix') format('embedded-opentype'),  url('AdventPro-Light.woff') format('woff'), url('AdventPro-Light.ttf')  format('truetype'), url('AdventPro-Light.svg#AdventPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BigNoodleTitling';
  src: url('BigNoodleTitling.eot?#iefix') format('embedded-opentype'),  url('BigNoodleTitling.woff') format('woff'), url('BigNoodleTitling.ttf')  format('truetype'), url('BigNoodleTitling.svg#BigNoodleTitling') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Michroma';
  src: url('Michroma.eot?#iefix') format('embedded-opentype'),  url('Michroma.woff') format('woff'), url('Michroma.ttf')  format('truetype'), url('Michroma.svg#Michroma') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-SemiboldSemiExt';
  src: url('MyriadPro-SemiboldSemiExt.eot?#iefix') format('embedded-opentype'),  url('MyriadPro-SemiboldSemiExt.otf')  format('opentype'),
	     url('MyriadPro-SemiboldSemiExt.woff') format('woff'), url('MyriadPro-SemiboldSemiExt.ttf')  format('truetype'), url('MyriadPro-SemiboldSemiExt.svg#MyriadPro-SemiboldSemiExt') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans.eot?#iefix') format('embedded-opentype'),  url('OpenSans.woff') format('woff'), url('OpenSans.ttf')  format('truetype'), url('OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('OpenSans-Italic.eot?#iefix') format('embedded-opentype'),  url('OpenSans-Italic.woff') format('woff'), url('OpenSans-Italic.ttf')  format('truetype'), url('OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('OpenSans-Bold.woff') format('woff'), url('OpenSans-Bold.ttf')  format('truetype'), url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans-Light';
  src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),  url('OpenSans-Light.woff') format('woff'), url('OpenSans-Light.ttf')  format('truetype'), url('OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSansLight-Italic';
  src: url('OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),  url('OpenSansLight-Italic.woff') format('woff'), url('OpenSansLight-Italic.ttf')  format('truetype'), url('OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Play-Regular';
  src: url('Play-Regular.eot?#iefix') format('embedded-opentype'),  url('Play-Regular.woff') format('woff'), url('Play-Regular.ttf')  format('truetype'), url('Play-Regular.svg#Play-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('Poppins-Light.eot?#iefix') format('embedded-opentype'),  url('Poppins-Light.woff') format('woff'), url('Poppins-Light.ttf')  format('truetype'), url('Poppins-Light.svg#Poppins-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Light';
  src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('Roboto-Light.woff') format('woff'), url('Roboto-Light.ttf')  format('truetype'), url('Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

